*.ldb
*.libPreview
*.SchDocPreview
*.lnk
*archive*/
For IntLib.DbLib
For IntLib_baojun.DbLib
Components/WE - Custom Magnetics.mdb
WE - Custom Magnetics.DbLib
*.LOG
Symbols/Transformer/Custom Magnetic.SchLib
Symbols/Transformer/Custom Magnetic.SchLib
00 - New Parts.DbLib
Components/00 - New Parts.mdb
Symbols/Transformer/Custom Magnetic.SchLib
