
*.ldb
*.libPreview
*.SchDocPreview
*.lnk
For IntLib.DbLib
Components/WE - Custom Magnetics.mdb
WE - Custom Magnetics.DbLib
*.LOG
Symbols/Transformer/Custom Magnetic.SchLib
Symbols/Transformer/Custom Magnetic.SchLib
